<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <title>Document</title>
    <style>
      .bryan {
        color: red;
        height: 300px;
        width: 300px;
      }
      .style_1 {
        color: blue;
      }
      .style_2 {
        color: chartreuse;
      }
      table,
      tr,
      th,
      td {
        border: 1px solid black;
      }
      #map {
        height: 180px;
      }
    </style>
  </head>
  <body>
    <h1 class="style_2" style="text-decoration: underline">Hello Working</h1>
    <table>
      <tr>
        <th>name</th>
        <th>lat</th>
        <th>lon</th>
      </tr>
      {% for point in allpoints %}
      <tr>
        <td>{{point.name}}</td>
        <td class="style_1">lat:{{ point.lat}}</td>
        <td class="style_2">lon:{{ point.lon}}</td>
      </tr>

      {% endfor %}
    </table>
    <div id="map"></div>
    <div class="bryan">
      {% for point in allpoints %}
      <p>
        {{point.name}}
        <span class="style_1"> lat:{{ point.lat}} </span>
        <span class="style_2"> lon:{{ point.lon}} </span>
      </p>
      {% endfor %}
    </div>
    <div class="table">
      <form action="/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

    </div>
    <script>
      var map = L.map("map").setView([51.505, -0.09], 13);
      L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }).addTo(map);
    </script>
  </body>
</html>
