{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
   
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>

    <title>Schools Map</title>
    <style>
       html, body {
        height: 100%;
        margin: 0;
      }
      #map {
        height: 95vh; /* 95% viewport height */
        width: 95vw; /* 95% viewport width */
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map = L.map("map").setView([-1.286389, 36.817223], 12); // Nairobi coordinates
      L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }).addTo(map);

      // Define custom icons with appropriate sizes
      var redIcon2 = L.icon({
        iconUrl: '{% static "images/marker-icon-red.png" %}',
        shadowUrl: '{% static "images/marker-shadow.png" %}',
        iconSize: [25, 41], // size of the icon
        shadowSize: [41, 41], // size of the shadow
        iconAnchor: [12, 41], // point of the icon which will correspond to marker's location
        shadowAnchor: [12, 41], // the same for the shadow
        popupAnchor: [1, -34] // point from which the popup should open relative to the iconAnchor
      });

      var blueIcon2 = L.icon({
        iconUrl: '{% static "images/marker-icon-blue.png" %}',
        shadowUrl: '{% static "images/marker-shadow.png" %}',
        iconSize: [25, 41], // size of the icon
        shadowSize: [41, 41], // size of the shadow
        iconAnchor: [12, 41], // point of the icon which will correspond to marker's location
        shadowAnchor: [12, 41], // the same for the shadow
        popupAnchor: [1, -34] // point from which the popup should open relative to the iconAnchor
      });

        // Creates a blue marker with the coffee icon
        var blueIcon = L.AwesomeMarkers.icon({
          prefix: 'fa',
          icon: 'building',
          markerColor: 'blue'
        });
      
        // Creates a red marker with the coffee icon
        var redIcon = L.AwesomeMarkers.icon({
          prefix: 'fa',
          icon: 'book',
          markerColor: 'red'
        });
     
      var marker, circle;
      var nursery = L.layerGroup();
      var primary = L.layerGroup();

      var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
      });

      var baseLayers = {
        "OSM": osm,
      };
      var overlays = {
        // add to control
        "Nusery": nursery,
        "Primary": primary,
      };
      L.control.layers(baseLayers, overlays).addTo(map);


      map.on('click', function(e) {
        // Remove the marker and circle if it exists
        if (marker) {
          map.removeLayer(marker);
          map.removeLayer(circle);
        }

        marker = L.marker(e.latlng).addTo(map);
        circle = L.circle(e.latlng, {
          radius: 1609.34, // 1 mile in meters
          color: 'blue',
          fillColor: '#30f',
          fillOpacity: 0.2
        }).addTo(map);

        fetchNearbySchools(e.latlng.lat, e.latlng.lng);

        // add to map
        map.addLayer(nursery);
        map.addLayer(primary);

        map.fitBounds(circle.getBounds());


      });

 
      function fetchNearbySchools(lat, lon) {

        fetch(`/get_nearby_schools/${lat}/${lon}/`)
          .then(response => response.json())
          .then(data => {
            // Remove existing school markers
            map.eachLayer(function(layer) {
              if (layer instanceof L.Marker && layer !== marker) {
                map.removeLayer(layer);
              }
            });

            data.forEach(point => {
              if (point.stage_number == 1) {
                nursery.addLayer(L.marker([point.lat, point.lon], { icon: redIcon }).bindPopup("<b>" + point.name + "</b><br>Latitude: " + point.lat + "<br>Longitude: " + point.lon));
              } else {
                primary.addLayer(L.marker([point.lat, point.lon], { icon: blueIcon }).bindPopup("<b>" + point.name + "</b><br>Latitude: " + point.lat + "<br>Longitude: " + point.lon));
              }
            });
          });
        }
    </script>
  </body>
</html>
